pre {
    white-space: pre-wrap;
}

.text-markup {
    overflow-y: auto;
}

.correction-list {
    overflow-y: auto;
}

.text-copy,
.text-clear {
    cursor: pointer;
    color: grey;
}

.text-copy:hover,
.text-clear:hover {
    color: #535353;
}

.highlighted-text {
    background-color: #ffff0c;
}

.delete-rule-control,
.edit-rule-control {
    cursor: pointer;
}

.matched-rule {
    display: flex;
}

.matched-rule-info {
    width: 90%;
}

.matched-rule-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
}

.matched-rule-control {
    cursor: pointer;
}

.delete-rule-control:hover,
.edit-rule-control:hover,
.matched-rule-control:hover {
    color: #777777;
}

.no-display {
    display: none;
}

.hidden {
    visibility: hidden;
}

.table-col-number {
    width: 5%;
    max-width: 5%;
}

.table-col-name,
.table-col-search {
    width: 15%;
    max-width: 170px;
    overflow: hidden;
}

.table-col-source,
.table-col-correction {
    width: 10%;
    max-width: 170px;
}

.table-col-details {
    width: 26%;
    max-width: 170px;
}

.table-col-enabled {
    width: 5%;
    max-width: 5%;
}

.table-col-updated {
    width: 10%;
    max-width: 10%;
}

.table-col-edit,
.table-col-delete {
    width: 2%;
    max-width: 2%;
}

table input {
    max-width: 100%;
}

.matched-rules {
    /*border: 1px solid green;*/
    max-height: 55vh;
}
