:root {
    --green1: #115937;
    --green2: #178949;
    --green3: #133d28;
    --dark1: #0b0b0b;
    --light1: #edeff1;
    --secondary-text: #444;

    --padding-default: 1rem;
    --padding-smaller: 0.5rem;
    --padding-small: 0.25rem;

    --margin-default: 1rem;
    --margin-smaller: 0.5rem;
    --margin-small: 0.25rem;

    --font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-size-small: 0.75rem;
    --font-size-smaller: 0.85rem;
    --font-size-regular: 1rem;
    --font-size-larger: 1.15rem;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family-default);
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green2);
    padding: 0 var(--padding-small);
    font-size: var(--font-size-small);
}

header a {
    color: var(--light1);
    text-decoration: none;
}

header a:hover {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-left: var(--margin-smaller);
}

header svg:hover {
    color: white;
}

h1 {
    font-weight: 200;
    font-size: var(--font-size-regular);
    margin: 0.5rem 0 0 0;
    color: var(--green3);
}

textarea {
    width: 100%;
}

pre {
    white-space: pre-wrap;
    font-size: var(--font-size-regular);
    line-height: 1.5;
    font-family: var(--font-family-default);
    color: var(--secondary-text);
}

table {
    padding: var(--padding-default);
    width: 100%;
    border-spacing: 0;
}

table caption {
    text-align: left;
    font-size: var(--font-size-larger);
    color: var(--green3);
    margin: var(--margin-default) 0 0 var(--margin-default);
}

th,
td {
    padding: var(--padding-smaller);
}

th {
    border-bottom: 2px solid var(--green2);
}

td {
    border-bottom: 1px dashed var(--green2);
    text-align: center;
    font-size: var(--font-size-smaller);
}

tr:last-child td {
    border: none;
}

tr:hover {
    border: 1px solid var(--green2);
    background-color: #eee;
}

thead tr:hover {
    background-color: white;
}

table input {
    width: 100%;
    padding: var(--padding-small);
    border: 1px solid lightgrey;
    border-radius: 4px;
}

#root,
.content-wrapper {
    height: 100%;
}

.content-wrapper {
    /*    display: flex;
    flex-direction: column;
    flex-wrap: wrap;*/
}

.logo {
    display: flex;
    align-items: center;
}

.header-text {
    color: var(--light1);
    font-size: var(--font-size-regular);
    margin-left: var(--margin-smaller);
}

.main-container {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.source-results-container {
    flex: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-smaller);
}

.source-container {
    height: 215px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rule-matches-container {
    flex: 100%;
    padding: 0 var(--padding-smaller);
    overflow: auto;
}

.results-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.source-text {
    border: 1px solid var(--light1);
    border-radius: 4px;
    resize: none;
    padding: var(--padding-smaller);
    font-size: 1rem;
    font-family: var(--font-family-default);
    line-height: 1.5;
    color: var(--secondary-text);
    overflow: auto;
}

.results {
    overflow: auto;
    height: calc(100vh - 325px);
    border: solid 1px var(--light1);
    border-radius: 4px;
    padding: 0 var(--padding-smaller);
}

.stats-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 var(--padding-smaller);
    margin-top: 0.25rem;
}

.stats {
    font-size: var(--font-size-small);
    padding-left: 0.75rem;
}

.clear-copy-control {
    cursor: pointer;
    margin-right: var(--margin-small);
}

.rule-match {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: var(--padding-default);
    border: 1px solid var(--light1);
    border-radius: 4px;
    margin: 0 0 var(--margin-default) 0;
}

.rule-match:hover {
    border: 1px solid var(--green2);
    color: var(--green2);
}

.rule-match-info {
    flex: 90%;
}

.rule-match-control {
    flex: 10%;
    text-align: center;
    cursor: pointer;
}

.rule-match-heading {
    font-weight: bold;
    color: var(--dark1);
    margin-bottom: 0.5rem;
    font-size: var(--font-size-smaller);
}

.rule-match-content {
    color: var(--secondary-text);
    margin-bottom: 0.5rem;
    line-height: 1.3;
    font-size: var(--font-size-smaller);
}

.rule-match-source {
    font-size: var(--font-size-small);
    color: var(--green1);
}

.no-display {
    display: none;
}

.table-heading {
    color: var(--green1);
    /*background-color: var(--light1);*/
    /*padding: 0.2rem 0.75rem;*/
    /*border-radius: 8px;*/
    /*font-weight: 500;*/
}

.table-number {
    /*text-align: right;*/
    font-weight: bold;
}

.table-edit {
    background-color: var(--light1);
}

.table-rule-source {
    min-width: 130px;
}

.table-rule-updated {
    min-width: 100px;
}

.table-icon {
    cursor: pointer;
    text-align: center;
}

.rules-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-default) var(--padding-default)
        var(--padding-smaller) var(--padding-default);
    margin-right: var(--margin-smaller);
}

.page-title {
    font-size: var(--font-size-larger);
    font-weight: 200;
}

.rule-filter {
    display: flex;
    align-items: center;
}

.input-filter {
    width: 150px;
    padding: var(--padding-smaller);
    border: 1px solid lightgrey;
    border-radius: 4px;
    line-height: 1.5;
}

.input-filter-clear {
    cursor: pointer;
    /*padding: var(--padding-smaller);*/
    margin-left: -30px;
    background-color: white;
}

@media (min-width: 400px) {
    header {
        font-size: var(--font-size-regular);
        padding: 0 var(--padding-smaller);
    }

    .header-text {
        color: var(--light1);
        font-size: var(--font-size-larger);
    }

    .rules-header {
        padding: var(--padding-smaller) var(--padding-smaller)
            var(--padding-small) var(--padding-smaller);
        margin-right: var(--margin-small);
    }

    .input-filter {
        width: 250px;
    }

    .page-title {
        font-size: var(--font-size-large);
    }
}

@media (min-width: 768px) {
    header {
        font-size: var(--font-size-regular);
        padding: 0 var(--padding-smaller);
    }

    h1 {
        font-size: var(--font-size-larger);
    }

    .main-container {
        flex-wrap: nowrap;
    }

    .source-results-container {
        flex: 70%;
        padding: 0 0.5rem 0 1rem;
    }

    .rule-matches-container {
        flex: 30%;
        padding: 0 1rem 0 0.5rem;
    }

    .stats {
        font-size: var(--font-size-smaller);
    }

    .rule-match-heading {
        font-size: var(--font-size-regular);
    }

    .rule-match-content {
        font-size: var(--font-size-regular);
        line-height: 1.3;
    }

    .rule-match-source {
        font-size: var(--font-size-smaller);
    }
}

/* Start old CSS */

.highlighted-text {
    background-color: #ffff0c;
}

.table-col-number {
    width: 5%;
    max-width: 5%;
}

.table-col-name,
.table-col-search {
    width: 15%;
    max-width: 170px;
    overflow: hidden;
}

.table-col-source,
.table-col-correction {
    width: 10%;
    max-width: 170px;
}

.table-col-details {
    width: 26%;
    max-width: 170px;
}

.table-col-enabled {
    width: 5%;
    max-width: 5%;
}

.table-col-updated {
    width: 10%;
    max-width: 10%;
}

.table-col-edit,
.table-col-delete {
    width: 2%;
    max-width: 2%;
}

table input {
    max-width: 100%;
}
