:root {
    --green1: #115937;
    --green2: #178949;
    --green3: #133d28;
    --dark1: #0b0b0b;
    --light1: #edeff1;

    --padding-default: 1rem;
    --margin-default: 1rem;
    --font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-default);
    margin: 0;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: var(--green2);
    /*border-bottom: solid 1px black;*/
    padding: 0 var(--padding-default);
}

header a {
    color: var(--light1);
    text-decoration: none;
}

header a:hover {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-left: 0.5rem;
}

header svg:hover {
    color: white;
}

h1 {
    font-weight: 200;
    font-size: 1.2rem;
    margin: 0 0 0.25rem 0;
    color: var(--green3);
}

/*textarea:focus {
  border: 1px solid var(--green3);
}*/

pre {
    margin: 0.5rem 0;
    white-space: pre-wrap;
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--font-family-default);
}

.logo {
    display: flex;
    align-items: center;
}

.header-text {
    color: var(--light1);
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    color: #444;
}

.source-results-container {
    flex: 70%;
    padding: 1rem 0.25rem 1rem 1rem;
    height: 100%;
}

.source-container {
    height: 47%;
    margin-bottom: var(--margin-default);
    overflow: auto;
}

.results-container {
    height: 48%;
}

.results {
    width: 98%;
    height: 94%;
    overflow: auto;
    border: solid 1px var(--light1);
    border-radius: 4px;
    padding: 0 var(--padding-default);
    margin: 0 0.5rem;
}

.rule-matches-container {
    flex: 30%;
    padding: var(--padding-default);
    padding: 1rem 1rem 1rem 0.25rem;
    overflow: auto;
}

.source-text {
    width: 98%;
    height: 37vh;
    border: 1px solid var(--light1);
    border-radius: 4px;
    /*resize: none;*/
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-family: var(--font-family-default);
    line-height: 1.5;
    color: #444;
}

.stats-container {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0.5rem 0 0;
}

.stats {
    font-size: 0.85rem;
    padding-left: 0.75rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0.5rem 0.25rem 0.5rem;
}

.clear-copy-control {
    cursor: pointer;
    margin-right: 0.25rem;
}

.rule-match {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: var(--padding-default);
    border: 1px solid var(--light1);
    border-radius: 4px;
    margin: var(--margin-default) 0;
}

.rule-match:hover {
    border: 1px solid var(--green2);
    color: var(--green2);
}

.rule-match-info {
    flex: 90%;
}

.rule-match-control {
    flex: 10%;
    text-align: center;
    cursor: pointer;
}

.rule-match-heading {
    font-weight: bold;
    color: var(--dark1);
    margin-bottom: 0.5rem;
}

.rule-match-content {
    color: #444;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.rule-match-source {
    font-size: 0.85rem;
    color: var(--green1);
}
