.main-content {
    /*height: calc(100vh - 72px);*/
}

.text-entry {
    /*height: 20%;*/
}

.results {
    /*height: 50%;*/
}

.text-markup {
    /*height: 60vh;*/
    overflow-y: auto;
}

.correction-list {
    /*height: 60vh;*/
    /*height: 100%;*/
    overflow-y: auto;
}

.text-copy:hover {
    text-decoration: none;
}

.delete-rule-control {
    cursor: pointer;
}

.matched-rule {
    display: flex;
}

.matched-rule-info {
    width: 90%;
}

.matched-rule-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
}

.matched-rule-control {
    text-align: center;
    cursor: pointer;
}

.delete-rule-control:hover,
.matched-rule-control:hover {
    color: #777777;
}
